[package]
name = "agui_core"
version = "0.3.0"
edition = "2021"
resolver = "2"
description = "The core library of agui"
homepage = "https://github.com/Stumblinbear/agui"
repository = "https://github.com/Stumblinbear/agui"
keywords = [ "gui", "gamedev" ]
categories = [ "gui", "game-development" ]
license = "MIT OR Apache-2.0"
readme = "README.md"

[dependencies]
log = "0.4"
cfg-if = "1.0"

fnv = "1.0"
downcast-rs = "1.2"
parking_lot = "0.12"
slotmap = "1.0"
tracing = "0.1"

morphorm = "0.3"

rand = "0.8"
lyon = "0.17"

glyph_brush_layout = "0.2"