[package]
name = "agui_core"
version = "0.3.0"
edition = "2021"
resolver = "2"
description = "The core library of agui"
homepage = "https://github.com/Stumblinbear/agui"
repository = "https://github.com/Stumblinbear/agui"
keywords = ["gui", "gamedev"]
categories = ["gui", "game-development"]
license = "MIT OR Apache-2.0"
readme = "README.md"

[dependencies]
cfg-if = "1.0"

thiserror = "1.0"
tracing = "0.1"

fnv = "1.0"
slotmap = "1.0"
parking_lot = "0.12"

rand = "0.8"
lyon = "1.0"

glyph_brush_layout = "0.2"
im-rc = "15.1"

[dev-dependencies]
agui_macros = { path = "../agui_macros", version = "0.3", features = [
    "internal",
] }
